---
---

<section class="ikoner_section">
    <img src="/img/ikoner.svg" alt="ikoner" class="ikoner">
</section>

<style>

.ikoner_section{
    background-color: #FFFBEF;
}

.ikoner{
    display: flex;
    justify-content: center;
}

</style>