---
---

<section class="ikoner_section">
    <img src="/img/ikoner.svg" alt="ikoner" class="ikoner">
</section>

<style>

.ikoner_section{
    background-color: #FFFBEF;
    display: flex; /* Aktiver Flexbox */
    justify-content: center; /* Centrer horisontalt */
    align-items: center; /* Centrer vertikalt */
    height: 100vh; /* Gør sektionen lige så høj som browserens synlige område */
    margin: 0; /* Fjern eventuel margin */
}

.ikoner{
    display: flex;
    justify-content: center;
}

</style>