---
const { name, description, image, alt } = Astro.props;
---

<div class="grid2">
  <div class="magiven_container">
    <img src={image} alt={alt} class="magiven_img" />
  </div>
  <div class="text">
    <h2 class="magiven_navn">{name}</h2>
    <p class="magiven_info">{description}</p>
  </div>
</div>


<style>
  .grid2 {
      display: flex;
      margin-bottom: 15rem;
      margin-top: 15rem;
      justify-content: center;
      gap: 2rem;
  }
  
  .text{
    max-width: 350px;
    
  }
  
  .magiven_navn {
      font-family: kavoon;
      color: #F4BA35;
      font-size: 25px;
      margin-bottom: 2rem;
  }
  
  .magiven_info {
      font-family: raleway_semibold;
      color: #FFFBEF;
      font-size: 18px; 
     
  }

  .magiven_container{
max-width: 50%;
overflow:hidden
  }
  
  .magiven_img {
      border-radius: 30px;
      width: 100%;
      object-fit: cover;
     
  }
  </style>
  