---
const { name, description, image, alt } = Astro.props;
---

<div class="grid2">
  <div class="text">
    <h2 class="magiven_navn">{name}</h2>
    <p class="magiven_info">{description}</p>
  </div>
  <div>
    <img src={image} alt={alt} class="magiven_img" />
  </div>
</div>

<style>
.grid2 {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 2rem;
    margin-bottom: 2rem;
}

.text{
  max-width: 350px;
}

.magiven_navn {
    font-family: kavoon;
    color: #F4BA35;
    font-size: 25px;
}

.magiven_info {
    font-family: raleway_semibold;
    color: #FFFBEF;
    font-size: 18px; 
}

.magiven_img {
    border-radius: 30px;
    width: 50%;
    object-fit: cover;
}
</style>
