---

---

<section class="citat_section">
  <div class="right">
    <p>
      ”Hun sagde flere gange til os, at det var den bedste dag i hendes liv.”
    </p>
    <p>– Mette Sørensen, mor til Gry med leukæmi</p>
  </div>
  <div class="left">
    <p>
      ”Det er så fedt at opleve det hele samt møde de forskellige familier igen
      til et KidsAid arrangement.”
    </p>
    <p>
      – Tina Knudsen, mor til Mathias med bl.a. leddegigt og epilepsi efter.
    </p>
  </div>
  <div class="right">
    <p>“Det gør en forskel”</p>
    <p>- Henny Solskin, magi-ven og tryllekunstner</p>
  </div>
  <div class="left">
    <p>
      ”Tusind tak til KidsAid for at have givet Fie og os som familie nogle
      dejlige dage i Lalandia. Vi har nydt at være sammen og hygge os uden
      bekymringer om hverdagen med Fies handicaps.”
    </p>
    <p>– Gitte Christiansen, mor til Fie med Triple X Syndrom og Epilepsi.</p>
  </div>
</section>

<style>
  .citat_section {
    background-image: url("./public/img/ballonbaggrund.webp");
    background-size: cover;
    background-position: left;
    width: 100%;
    height: 440vh;
    padding: 2rem;
    padding-top: 5rem;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
  }

  .right {
    text-align: right;
    font-family: "Courier New", Courier, monospace;
    font-size: 18px;
    color: #283885;
    margin-top: 30rem;
  }

  .left {
    text-align: left;
    font-family: "Courier New", Courier, monospace;
    font-size: 18px;
    color: #283885;
    margin-top: 30rem;
  }

  div {
    padding: 5rem;
  }
</style>
