---
---

<section class="galleri">
    <div>
        <img class="galleri_img" src="../../public/img/galleri1.webp" alt="galleri1">
        <img class="galleri_text" src="../../public/img/galleri1_text.svg" alt="galleri1">
    </div>
    <div>
        <img class="galleri_img" src="../../public/img/galleri2.webp" alt="galleri2">
        <img class="galleri_text" src="../../public/img/galleri2_text.svg" alt="galleri2">
    </div>
    <div>
        <img  class="galleri_img" src="../../public/img/galleri3.webp" alt="galleri3">
        <img class="galleri_text" src="../../public/img/galleri3_text.svg" alt="galleri3">
    </div>
</section>

<style>

.galleri{
    background-color: #283885;
}

.galleri_img{
    width: 100%;
    border-radius: 30px;
    justify-content: center;
}

</style>