---

---

<main>
  <section class="textbox">
    <h2>Hver eneste krone er til stor gavn</h2>
    <p>
      Hos KidsAid bliver hver eneste krone brugt på at glæde børn, som kæmper
      med heldbredsmæssige udfordringer.
    </p>
    <p>
      KidsAid samler ind så børnene kan få besøg af en af vores herlige
      magi-venner,
    </p>
  </section>
</main>

<style>
  main {
    background-image: url("../../public/img/section10_img.webp");
    background-size: cover;
    background-position: left;
    width: 100%;
    height: 110vh;
    padding: 2rem;
    padding-top: 5rem;
    background-attachment: fixed;
  }

  .textbox {
    background-color: #fffbef;
    margin: 5rem;
    text-align: center;
    border-radius: 5px;
    padding-top: 2rem;
    padding-bottom: 2rem;
    background: repeat fixed 100%;
  }
</style>
