---

---

<main>
  <section class="textbox">
    <!--    <h2>Hver eneste krone er til stor gavn</h2>
    <p>
      Hos KidsAid bliver hver eneste krone brugt på at glæde børn, som kæmper
      med heldbredsmæssige udfordringer.
    </p>
    <p>
      KidsAid samler ind så børnene kan få besøg af en af vores herlige
      magi-venner,
    </p> -->
    <img src="./img/tekstboks.webp" alt="" />
  </section>
  <div></div>
</main>

<style>
  main {
    background-image: url("/img/section10_img.webp");
    background-size: cover;
    background-position: left;
    width: 100%;
    height: 250vh;
    padding: 2rem;
    padding-top: 5rem;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
  }

  /*  .textbox {
    background-color: #fffbef;
    margin: 5rem;
    margin-top: 30rem;
    text-align: center;
    border-radius: 5px;
    padding-top: 2rem;
    padding-bottom: 2rem;
  } */

  img {
    width: 700px;
    justify-content: center;
    display: flex;
    margin-top: 35rem;
  }
</style>
