<main>
  <a href="">
    <img src="./img/stot_magien.png" alt="Støt nu knap" />
  </a>
</main>

<style>
  img {
    width: 70%;
  }

  a {
    cursor: pointer;
  }

  a :hover {
    transform: scale(1.1);
  }
</style>
