---
import "../styles/style.css";
import Hero from "../componets/Hero.astro";
import Section1 from "../componets/Section1.astro";
import MagivenSection from "../componets/Magiven_section.astro";
import CitatSection from "../componets/Citat_section.astro";
import DataSection from "../componets/Data_section.astro";
import BallondyrSection from "../componets/Ballondyr_section.astro";
import HennytextboxSection from "../componets/Hennytextbox_section.astro";
import GalleriSection from "../componets/Galleri_section.astro";
import Footer from "../componets/Footer.astro";
---

<html lang="en">
  <head>
    <meta charset="utf-8" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="viewport" content="width=device-width" />
    <meta name="generator" content={Astro.generator} />
    <title>Astro</title>
  </head>
  <body>
    <div class="progress-container">
      <div class="progress-bar" id="myBar"></div>
    </div>
    <header>
      <Hero />
    </header>
    <Section1 />
    <MagivenSection />
    <CitatSection />
    <DataSection />
    <BallondyrSection />
    <HennytextboxSection />
    <GalleriSection />

    <footer>
      <Footer />
    </footer>
  </body>
</html>
<script>
  // When the user scrolls the page, execute myFunction
  window.addEventListener("scroll", onScroll);

  function onScroll() {
    let winScroll =
      document.body.scrollTop || document.documentElement.scrollTop;
    let height =
      document.documentElement.scrollHeight -
      document.documentElement.clientHeight;
    let scrolled = (winScroll / height) * 100;
    document.getElementById("myBar").style.width = scrolled + "%";
  }
</script>
